@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    .page_body {
        scroll-behavior: smooth;
    }
    .hover_item {
    }
    .hover_item:hover{
        color: #4c661a;
        border-color: #4c661a;
    }
    .footer_item:hover {
        color: #4c661a;
        text-decoration: underline;
    }
    .highlight {
        background-color: #4c661a;
        color: #fff;
        padding: 2px 7px;
        border-radius: 5px;
    }
}